

            


            <div class="side">
                <div id="pee">
                    <h3>Precious Wobo</h3>
                </div>
                
                <div>
                <ul>
                <li>Home</li>
                <li>Course Reg</li>
                <li>Profile</li>
                <li> Bowen Anthem</li>
                <li>Payment Records</li>
                <li>Logout</li>
                </ul>
                </div>
                
                <hr>
            </div> 