.pro{
    width: 15%;
}

.card{
    background-color: rgb(248, 245, 245);
}

p{
    font-size: 12px;
}
a{
    color: white;
}
@media only screen and (max-width: 1200px) {
    p{
        
        font-size: 14px;
    }

    .col-md-4{
        position: absolute;
        left: 41%;
        top: 6.9%;
    }

    .pro{
        margin-left: 15px;
        width: 20%;
    }
}