<div class="container">
    
    <div class="warning" [hidden]="isShowDiv">
        <p>abcd</p>
    </div>
    <div class="row p-3">
        <div class="col-md-4 ">
            <div (click)=Div1() class="yam y1 m-3">
                <i class="large material-icons">school</i> <br>
                <strong>Convo</strong> <em style="font-size: 12px;"> loading...</em>
                
            </div>
        </div>

        <div class="col-md-4">
            <div class="yam y2 m-3">
                <i class="large material-icons">subtitles</i> <br>
                <strong>Courses</strong> 
            </div>
        </div>

        <div class="col-md-4">
            <div class="yam y3 m-3">
                <i class="large material-icons">wb_cloudy</i> <br>
                <strong>Assesment</strong> <em style="font-size: 12px;"> Soon...</em>
            </div>
        </div>

        <div class="col-md-4">
            <div class="yam y4 m-3">
                <i class="large material-icons">web</i> <br>
              <a style="color: white;" routerLink="/result"> <strong>Results</strong> </a>  
            </div>
        </div>

        <div class="col-md-4">
            <div class="yam y5 m-3">
                <i class="large material-icons">local_library</i> <br>
                <strong>Timetable</strong><em style="font-size: 12px;"> Soon...</em>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="yam y6 m-3">
                <i class="large material-icons">language</i> <br>
                Examination
            </div>
        </div>

        <div class="col-md-4">
            <div class="yam y1 m-3">
                <i class="large material-icons">receipt</i> <br>
                Bowen CV
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="yam y7 m-3">
                <i class="large material-icons">wb_auto</i> <br>
                <strong>Tickets</strong> <em style="font-size: 12px;"> Soon...</em>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="yam y1 m-3">
                <i class="large material-icons">security</i> <br>
                <strong>Exeat</strong> <em style="font-size: 12px;"> loading...</em>
            </div>
        </div>

    </div>
</div>